.user_edit{
	font-size: 20px;
	margin-left: 10px;
}
.input_title_content{
	width: 90%;
	margin-left: 5%;
}
.user_edit span{
	margin-left: 3%;
}
.user_edit_isadmin{
	margin-left: 38%;
}
.user_edit_isadmin_label{
	margin-right: 20px;
}
.edit_buttons{
	margin-left: 80%;
}